.background {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: radial-gradient(#aef694 10%, #ffdf8b 70%);

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 30vw;
  height: 60vh;
  padding: 3rem;

  border-radius: 40px;
  border: 1px solid white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);

  background-color: rgba(255, 255, 255, 0.329);
}

/*
    Form
*/

.form {
  margin-top: 3rem;
}
.form-control {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px salmon solid;
  background-color: transparent;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  font-size: 0.8rem;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: start;
}

.signup > span {
  cursor: pointer;
}
.signup > span:hover {
  color: salmon;
}

input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: 1px solid salmon;
  border-radius: 5px;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 0.25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 16px;
}
input[type="checkbox"]:checked + label:before {
  background: salmon;
  color: rgb(0, 151, 45);
  content: "\2713";
  text-align: start;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.submit {
  display: block;

  width: 100%;

  background-color: salmon;
  border: none;
  font-weight: bold;
}

.submit:hover {
  background-color: rgb(85, 243, 154);
}
