<div class="main animate__animated animate__fadeIn">
  <div class="image"></div>

  <div class="form col col-w10">
    <h1 class="animate__animated animate__fadeInRight">
      Wonder<span>Cook</span>
    </h1>

    <div class="load" *ngIf="loading">
      <app-loading></app-loading>
    </div>

    <div class="col col-w6 form-container" *ngIf="!loading">
      <h2>Acceder.</h2>
      <p>
        Accede a tu cuenta con tu <strong>Correo</strong> y
        <strong>Contraseña</strong> para poder hacer las mejores recetas
      </p>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="col input">
          <label for="email">Correo electrónico</label>
          <input type="email" formControlName="email" id="email" name="email" />
          <div class="row control-error" *ngIf="isInvalidControl('email')">
            <i class="fas fa-exclamation-circle"></i>
            <span>Introduce un correo válido</span>
          </div>
        </div>

        <div class="col input">
          <label for="password"><span>Contraseña</span></label>
          <input type="password" formControlName="password" id="password" />
          <div class="row control-error" *ngIf="isInvalidControl('password')">
            <i class="fas fa-exclamation-circle"></i>
            <span>Introduce una contraseña</span>
          </div>
        </div>

        <div class="row input remember">
          <input type="checkbox" formControlName="remember" />
          <label for="remember">Recordar email</label>
        </div>

        <button class="button">Entrar</button>
      </form>

      <div class="col signup">
        <span
          >¿Aún no tienes cuenta?
          <strong routerLink="/register" class="link">Regístrate</strong></span
        >
      </div>
    </div>
  </div>
</div>

<app-notification-card
  class="notify"
  id="notify"
  [message]="notifyMessage"
></app-notification-card>
